<style @scope>
    header {
        align-items: center;
        background-color: #38917A;
        display: flex;
        height: 5rem;
        justify-content: flex-end;
        margin-bottom: 1em;
        text-align: right;
        width: 100%;
    }

    header a {
        color: #fff;
        display: inline-block;
        margin-right: 1em;
        text-decoration: none;
    }

    header a:hover {
        text-decoration: underline;
        color: #fff;
    }
</style>

<header>
    <div class="top-row px-4">
        <a href="login">
            <span class="icon fa-solid fa-right-from-bracket" />Iniciar sesión
        </a>
    </div>
</header>