@page "/home"

<PageTitle>Incio</PageTitle>

<h1>Panel de administración.</h1>
<hr />

<section class="content-img">
    <img src="images/dashboard.svg" alt="Panel de administración">
</section>

<style @scope>
    .content-img {
        align-items: center;
        display: flex;
        justify-content: center;
    }

    img {
        max-width: 100%;
        width: 32rem;
    }
</style>
