@page "/people/add"
@page "/people/add/{id}"

@inject HttpClient httpClient
@inject NavigationManager navigationManager

<EditForm Model="Person" OnValidSubmit="SubmitForm">
    <section class="title-section">
        <h3>Individuo</h3>
        <button class="btn btn-sm btn-success" type="submit">
            @(string.IsNullOrEmpty(id) ? "Agregar" : "Editar")
        </button>
    </section>
    <hr />

    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="mb-3">
        <label for="name" class="form-label">Nombre</label>
        <input autocomplete="off" type="text" class="form-control" id="name" @bind="Person.Name" />
    </div>
    <div class="mb-3">
        <label for="last-name" class="form-label">Apellidos</label>
        <input autocomplete="off" type="text" class="form-control" id="last-name" @bind="Person.LastName" />
    </div>
    <aside class="mb-3">
        <label for="telephone" class="form-label">Teléfono</label>
        <input autocomplete="off" type="text" class="form-control" id="telephone" @bind="Person.Telephone" />
    </aside>
    <aside class="mb-3">
        <label for="email" class="form-label">Correo electrónico</label>
        <input autocomplete="off" type="email" class="form-control" id="email" @bind="Person.Email" />
    </aside>
    <aside class="mb-3">
        <label for="direction" class="form-label">Dirección</label>
        <input autocomplete="off" type="text" class="form-control" id="direction" @bind="Person.Direction" />
    </aside>
</EditForm>

@code {
    [Parameter]
    public string id { get; set; }
    private PersonDto Person { get; set; }

    public PersonForm()
    {
        id = string.Empty;
        Person = new PersonDto();
    }

    protected override async Task OnInitializedAsync()
    {
        if (!string.IsNullOrEmpty(id))
        {
            await LoadInitialValues(id);
        }
    }

    public async Task SubmitForm()
    {
        if (string.IsNullOrEmpty(id))
            await Add();
        else
            await Edit();
    }

    private async Task Add()
    {
        var response = await httpClient.PostAsJsonAsync("api/people", Person);
        if (response.IsSuccessStatusCode)
        {
            await response.Content.ReadAsStringAsync();
            navigationManager.NavigateTo("/people");
        }
    }

    private async Task Edit()
    {
        var response = await httpClient.PutAsJsonAsync("api/people", Person);
        if (response.IsSuccessStatusCode)
        {
            await response.Content.ReadAsStringAsync();
            navigationManager.NavigateTo("/people");
        }
    }

    private async Task LoadInitialValues(string id)
    {
        var response = await httpClient
        .GetFromJsonAsync<IEnumerable<PersonDto>>($"api/people/{id}");

        Person = response?.FirstOrDefault() ?? new PersonDto();
    }
}
